<html>
  <head>
    <title><%=config.title%></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <link href="/css/modesta.css" type="text/css" rel="stylesheet">

    <meta name="theme-color" content="#d35400">
    <meta content="https://cdn.uaerman.dev/images/profile.jpeg" property="og:image" />
    <link rel="icon" type="image/x-icon" href="https://cdn.uaerman.dev/icon/favicon.ico">
    <meta content="<%=config.title%>" property="og:title" />

    <meta content="<%=config.description%>" property="og:description" />
    <meta content="<%=config.description%>" name="description" />
  </head>
  <body class="dark-theme github">
    <section class="fullscreen">
      <div class="background" style="background-image: url('/random');"></div>
      <div class="center-object">
        <section class="me">
          <h1 class="title">☕ <%=config.title%></h1>
          <span class="undertitle"><%=config.description%><br><i>Images in API: <b><%=imageCount%></b></i></span>
        </section>
        <div class="buttons">
          <a href="random" class="btn animation skype-bg white-text" target="_blank">Random coffee</a>
          <a href="randomstatic" class="btn animation turquoise-bg white-text" target="_blank">Random coffee [Static File]</a>
          <a href="random.json" class="btn animation wisteria-bg white-text" target="_blank">Random coffee [ JSON ]</a>
          <a href="<%=config.githuburl%>" class="btn animation github-bg white-text" target="_blank">GitHub</a>
          <a href="<%=config.weburl%>" class="btn animation highlight-bg white-text" target="_blank">UAE</a>
        </div>
      </div>
    </section>
  </body>
</html>